<%= simple_form_for([@user, @team], :html => { :class => 'form-horizontal' },
 :remote => true) do |f| %>

    <%= f.error_notification %>
    <%= display_base_errors @team %>

    <p><%= f.input :name, :label => "Nombre",  :required => true   %></p>
    <p><%= f.input :serial, :label => "Serial",  :required => true   %></p>
    <p><%= f.input :color, :label => "Color",  :required => true   %></p>
     <p><%= f.label :type_material_id, :label => "Material",  :required => true   %>
        <%= f.collection_select :type_material_id, TypeMaterial.all, :id, :name, :prompt => "Selecion Tipo Material" %></p>
   <p><%= f.label :porter_id, :label => "Portero",  :required => true   %>
    	<%= f.collection_select :porter_id,  Porter.all, :id, :name, :prompt => "Selecion Portero Registro" %></p>
    	<p><%= f.input :accessory, :as => :radio, :label => "Accesorio", :collection => [["Mouse", false], ["Cargador", true]] %></p>
                   
    <div class="form-actions">
      <%= f.submit "guardar", :class => 'btn btn-primary' %>
       <a href="#" class="btn" onclick="$.lazybox.close()">Cerrar</a>
    </div>
<% end %>
