<tr  class="fondo " id=<%= "user_#{user.id}" %>>
    <td><%= link_to user.id, edit_user_path(user), :remote => true %></td>
    <td><%= user.name %></td>
    <td><%= user.identification %></td>
    <td><%= user.address_residence %></td>
    <td><%= user.phone %></td>
    <td><%= user.movil %></td>
    <td><%= user.center_id %></td>
     <td> <%= link_to  image_tag('mostrar.png'), user,     :remote => true, :class => 'btn btn-mini' %></td>
     <td>
        <%= link_to image_tag('editar1.png', :title => "Editar Equipos"), edit_user_path(user),  :remote => true,
          :class => 'btn btn-mini'%>
          <%= link_to image_tag('glyphicons_005_car.png'), user_vehicles_path(user), :class => 'btn btn-mini', :rel => "tooltip", :title => "Registrar Vehiculos" %>
           <%= link_to image_tag('team.png'), user_teams_path(user), :class => 'btn btn-mini', :rel => "tooltip", :title => "Registrar Equipos" %>
        <%= link_to image_tag('material.png'), user_materials_path(user), :class => 'btn btn-mini', :rel => "tooltip", :title => "Ingresar Materiales" %>
        <%= link_to image_tag('cambiar.png'), user_modify_users_path(user), :class => 'btn btn-mini', :rel => "tooltip", :title => "Modificar Usuarios" %>
    </td>
</tr>



