<tr id=<%= "turn_#{turn.id}" %>>
    <td><%= link_to turn.id, edit_turn_path(turn), :remote => true %></td>
    <td><%= turn.day %></td>
    <td><%= turn.start_time %></td>
    <td><%= turn.finish_time %></td>
    <td><%= turn.start_date %></td>
    <td><%= turn.finish_date %></td>
    <td>
        <%= link_to  image_tag('mostrar.png'), turn,     :remote => true, :class => 'btn btn-mini' %>
        <%= link_to image_tag('editar1.png', :title => "Editar Equipos"), edit_turn_path(turn),  :remote => true,
          :class => 'btn btn-mini'%>
    </td>
</tr>
