<div id='admin' class="page-header">
  <h3 class="fondo">Administración </h3>
</div>

<div id='tab' class="well">

    <table id='tab'  class="table table-hover">
      <thead>
        <tr>
          <th>Maestra</th>
         
          <th>Descripción</th>
          <th><%= link_to image_tag("Inicio.png "), root_path, :class => 'brand' %></th>
        </tr>
      </thead>

      <tbody>
         <tr>
             <td><%= link_to image_tag("ImagesAdmin/UserIcon.png"), users_path, :rel => "tooltip", :title => "Usuarios"  %>&nbsp&nbsp<%= link_to "usuarios", users_path %></td>
             <td> Administración de los usuarios del Sistema</td>
             <td></td>
         </tr>
         <tr>
             <td><%= link_to image_tag("ImagesAdmin/admin.png"), responsibles_path, :rel => "tooltip", :title => "Responsables"  %>&nbsp&nbsp<%= link_to "Responsables", responsibles_path %></td>
             <td> Responsables de las areas del Sena</td>
             <td></td>
         </tr>
         <tr>
             <td><%= link_to image_tag("ImagesAdmin/Rols.png"), roles_path, :rel => "tooltip", :title => "Roles"  %>&nbsp&nbsp<%= link_to "Roles", roles_path %></td>
             <td>Usuarios Finales que van a interactuar con la aplicación</td>
             <td></td>
         </tr>
         <tr>
             <td><%= link_to image_tag("ImagesAdmin/blood2.png"), rhs_path, :rel => "tooltip", :title => "Rhs"  %>&nbsp&nbsp<%= link_to "Rhs", rhs_path %></td>
             <td>Tipos de sangre de los usuarios en caso de una emergencia</td>
             <td></td>
         </tr>
         <tr>
             <td><%= link_to image_tag("ImagesAdmin/TypeDocument.png"), documents_path, :rel => "Tipo Documentos", :title => "Tipo Documentos"  %>&nbsp&nbsp<%= link_to "Tipo Documentos", documents_path %></td>
             <td>Tipos de documento de las personas que se encuentran registradas en el software</td>
             <td></td>
         </tr>
         <tr>
             <td><%= link_to image_tag("ImagesAdmin/suggestion.png"), suggestions_path, :rel => "tooltip", :title => "Sugerencias"  %>&nbsp&nbsp<%= link_to "Sugerencias", suggestions_path %></td>
             <td>Propuesta o idea para que se tenga consideración de hacer algo</td>
             <td></td>
         </tr>
         <tr>
             <td><%= link_to image_tag("ImagesAdmin/areas.png"), areas_path, :rel => "tooltip", :title => "Areas"  %>&nbsp&nbsp<%= link_to "Areas", areas_path %></td>
             <td>Areas en las que se divide la zona de los parqueaderos</td>
             <td></td>
         </tr>
         <tr>
             <td><%= link_to image_tag("ImagesAdmin/Records.png"), records_path, :rel => "tooltip", :title => "Registros"  %>&nbsp&nbsp<%= link_to "Registros", records_path %></td>
             <td>Representa un objeto unico donde se puede ver una anotación de otros cacheos</td>
             <td></td>
         </tr>
      </tbody>

    </table>
        <td><%= link_to image_tag("AdelanteAdmin.png"), admin2_path, :rel => "tooltip", :title => "Avanzar Pagina Administración 2" %></td>
</div>
