<%= simple_form_for(@center_program, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @center_program %>
    
    <p><%= f.label :program_id, :label => "Programa",  :required => true   %>
    <%= f.collection_select :program_id, Program.all, :id, :name %></p>

    <p><%= f.label :center_id, :label => "Centro",  :required => true   %>
    <%= f.collection_select :center_id, Center.all, :id, :name %></p>

    <p><%= f.label :user_id, :label => "Usuario",  :required => true   %>
    <%= f.collection_select :user_id, User.all, :id, :name %></p>
    
    <div class="form-actions">
      <%= f.submit "guardar", :class => 'btn btn-primary' %>
      <a href="#" class="btn" onclick="$.lazybox.close()">Cerrar</a>
    </div>
<% end %>
