<%= simple_form_for(@destination, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @destination %>


    <p><%= f.input :name, :label => "Nombre",  :required => true  %></p>
    <p><%= f.input :initials, :label => "Iniciales",  :required => true  %></p>
  
    <div class="form-actions">
        <%= f.submit "guardar", :class => 'btn btn-primary' %>
        <a href="#" class="btn" onclick="$.lazybox.close()">Cerrar</a>
    </div>
<% end %>