<div  id='admin2'><%= link_to image_tag("admi.png "), admin2_path, :rel => "tooltip", :title => "Regresar Pagina Administración1"  %></div>
<%- model_class = Destination -%>
  <div id='admin1' class="page-header">
    <h1 class="fondo" >Destino</h1>
    <div class="navbar">
    <div class="navbar-inner">
    <li id='buscar' class="brand" href="#">Buscar</li> 
      <div class="row">
        <div class="span6">
          <form method="GET" class="form-inline" >
            <input id='buscar' name="buscar" class="search-query" type="text"  placeholder="Buscar" >
            <button id='buscar' type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i></     button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombres</th>
          <th>Siglas</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
       <%= render @destinations %>
      </tbody>
      <tfoot>
        <tr>
          <td><%= link_to image_tag('nuevo.png'),  new_destination_path,  :remote => true %></td>
        </tr>
      </tfoot>
       <tfoot>
          <tr>
              <td><b >Total Destino:</b></td>
            <td>
                <input type="text"  id="totalregs" class="span1" value="<%= @destinations.total_entries %>" readonly />
            </td>
          </tr>
      </tfoot>
     
    </table>
  </div>
    </table>
      <div align="center">
        <div id="pagination" class="pagination">
          </ul>
              <%= will_paginate @destinations, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente&raquo;' %>
          </ul>
        </div>
      </div>
