<tr id=<%= "authorization_#{authorization.id}" %>>
    <td><%= authorization.id %></td>
    <td><%= authorization.user.name %></td>
    <td><%= authorization.element1 %></td>
    <td><%= authorization.sum1 %></td>
    <td><%= authorization.element2 %></td>
    <td><%= authorization.sum2 %></td>
    <td><%= authorization.element3 %></td>
    <td><%= authorization.sum3 %></td>
    <td><%= authorization.element4 %></td>
    <td><%= authorization.sum4 %></td>
    <td><%= authorization.destination.name %></td>
    <td><%= authorization.usability.name %></td>
    <td><%= authorization.date %></td>
  
    <td>
        <%= link_to 'Mostrar', authorization, :remote => true, :class => 'btn btn-mini' %></td>
        <td>
        <%= link_to 'Editar', edit_authorization_path(authorization), :remote => true,
            :class => 'btn btn-mini' %>
      </td>
</tr>

