<%= simple_form_for(@porter, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    
    <%= f.error_notification %>
    <%= display_base_errors @porter %>
    
    <p><%= f.input :name, :label => "Nombre",  :required => true   %></p>
    <p><%= f.input :surname, :label => "Apellido",  :required => true   %></p>
    <p><%= f.input :address, :label => "Direccion",  :required => true   %></p>
    <p><%= f.input :phone, :label => "Telefono",  :required => true   %></p>
    <p><%= f.label :turn_id, :label => "Turno",  :required => true   %>
    <%= f.collection_select :turn_id, Turn.all, :id, :day, :prompt => "Seleccionar Turno" %></p>
    <p><%= f.label :avatar %>
    <%= f.file_field :avatar %></p>
    

    <div class="form-actions">
      <%= f.submit "guardar", :class => 'btn btn-primary' %>
      <a href="#" class="btn" onclick="$.lazybox.close()">Cerrar</a>
    </div>
<% end %>
